@model KoiMuseum.Data.Dtos.Responses.Registration.RegistrationResponse

@{
    ViewData["Title"] = "Details";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<h1>Details</h1>

<div>
    <h4>Registration Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovalDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApprovalDate)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RejectedReason)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RejectedReason)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ConfirmationCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ConfirmationCode)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IntroductionOfOwner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IntroductionOfOwner)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IntroductionOfKoi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IntroductionOfKoi)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AdminReviewedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AdminReviewedBy)
        </dd>
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContestName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContestName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OwnerName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rank)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rank)
        </dd>
    </dl>
</div>

<!-- Button to Approve or Reject the Registration -->
<!-- Buttons for Approve and Reject -->
<div>
    <!-- Properly pass id and status in function -->
    <a href="javascript:void(0)" onclick="changeStatus(@Model.Id, 'APPROVE')">Approve</a>
    <a href="javascript:void(0)" onclick="changeStatus(@Model.Id, 'CHECKIN')">CheckIn</a>
    <a href="javascript:void(0)" onclick="changeStatus(@Model.Id, 'REJECT')">Reject</a>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    function changeStatus(id, status) {
        if (confirm(`Are you sure you want to ${status.toLowerCase()} this registration?`)) {
            $.ajax({
                url: '@Url.Action("ChangeStatus", "Registrations")',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ id: id, status: status }), // Properly pass id and status
                success: function (response) {
                    alert(response); // Show success message
                    window.location.reload(); // Reload the page to see changes
                },
                error: function (xhr) {
                    alert("Error: " + xhr.responseText); // Show error message
                }
            });
        }
    }
</script>