@model IEnumerable<KoiMuseum.Data.Models.Rank>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rankings</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <style>
        .custom-table tbody tr:hover {
            background-color: #cccccc;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Competitions Class</h1>
        <div class="table-responsive">
            <table class="table table-borderless custom-table">
                <thead>
                    <tr>
                        <th>Class</th>
                        <th>Name</th>
                        <th>Min Size</th>
                        <th>Max Size</th>
                        <th>Min Age</th>
                        <th>Max Age</th>
                        <th>Reward</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var rank in Model)
                    {
                        <tr>
                            <td>
                                <div class="project-info">
                                    <img src="path/to/image1.png" alt="Project 1">
                                </div>
                            </td>
                            <td>@rank.Name</td>
                            <td>@rank.MinSize</td>
                            <td>@rank.MaxSize</td>
                            <td>@rank.MinAge</td>
                            <td>@rank.MaxAge</td>
                            <td>@rank.Reward</td>
                            <td>@rank.Description</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>